*{line-height: 1;}


.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
}


.colors {
  color: #16161a, #a2a1a1, #1E1E24, #4f5159;
}


/*fonts*/
@font-face {
  font-family: orbitron;
  src: url(../fonts/Orbitron/Orbitron-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: orbitron;
  src: url(../fonts/Orbitron/Orbitron-Medium.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: orbitron;
  src: url(../fonts/Orbitron/Orbitron-Bold.ttf) format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins/Poppins-Light.ttf) format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins/Poppins-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
  font-weight: 600;
}


html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #1E1E24;
  color: #a2a1a1;
  height: 100%;

}

h2 {
  color: #fff;
  font-family: poppins, helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  opacity: .85;
}

h3 {
  font-family: poppins, helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.2em;
}

label {
  font-family: poppins, helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.2em;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



/*
* Main content
*/

.main {
  height: 100%;
  padding: 20px;
  background-color: #1E1E24;
  background: #1E1E24 no-repeat center;
}




.svg-bg:before {
  width: 380px;
  height: 480px;
  background-repeat: no-repeat;
  opacity: .7;
  background-size: 95% 95% ;
  right: 20px;
  content: "";
  position: absolute;
}	


}

.main .page-header {
  margin-top: 0;
}


.form-inline .form-control {
  line-height: 1.25em;
  width: 110px;
  margin-left: 30px;
  margin-top: -3px;
  height: 30px;
  background-color: #1E1E24;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  color: #056aee;
  border: 2px solid #a2a1a1;
  text-align: left;

}

.form-control::-webkit-input-placeholder {
  color: #4f5159;
}

.form-group-btn .btn {
  margin-left: -6px;
  margin-top: -3px;
  width: 60px;
  height: 30px;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  border: 2px solid #a2a1a1;
  color: #1E1E24;
  background-color: #056aee;
  font-family: poppins, helvetica, sans-serif;
  font-weight: 600;
  line-height: 1em;
  padding-left: 8px;
}


/*toggle style*/

.switch {
  margin-left: 15px;
  min-width: 100px;
}

.toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



input.toggle-round-flat + label {
  top: 15px;
  padding: 2px;
  width: 50px;
  height: 25px;
  background-color: #a2a1a1;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

input.toggle-round-flat + label:hover {
  background-color: #056aee;
  transition: background 0.6s;
}


input.toggle-round-flat + label:before, input.toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #1E1E24;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-transition: background 0.4s;
}
input.toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 18px;
  background-color: #a2a1a1;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  -webkit-transition: margin 0.4s, background 0.4s;
}
input.toggle-round-flat:checked + label {
  background-color: #056aee;
}
input.toggle-round-flat:checked + label:after {
  margin-left: 24px;
  background-color: #056aee;
}

.col-lg-6.col-md-6.col-sm-6.col-xs-11 {
  margin-top: -13px;
}

/*/toggle style end here*/



/*Slider style*/

.hint-mark{
  font-weight: 600;
  color: #056aee;
  opacity: .6;
  font-size: 1.3em;
  margin: -15px 0 0 75px;
}

div.tooltip-inner {
  max-width: 300px !important;
}

.hint-mark:hover{
  cursor: pointer;	
}

.single-slider>.hint-mark {
  margin-top: -33px;
  margin-right: -50px;
  float: right;
}

.selectfield>.hint-mark {
  margin-top: -25px;
  margin-right: 0px;
  float: right;
}

.sel-main>.hint-mark {
  margin-top: -25px;
  margin-right: 0px;
}


/*Slider*/

.single-slider {
  margin-right: 45px;
}

.single-slider input[type=range]{
  -webkit-appearance: none;
  position: relative;
  top: 3px;
  height: 50px;
  background-color: transparent;
}

.single-slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: #a2a1a1;
}



.single-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 50px;
  height: 25px;
  border: 2px solid #a2a1a1;
  border-radius: 25px;
  box-shadow: 0px 0px 0px 5px rgba(30, 30, 36, 1);
  background: #1E1E24;
  margin-top: -11px;
  transition: all 0.2s ease-in-out;
}

.single-slider input[type=range]::-webkit-slider-thumb:hover{border-color: #056aee; cursor: pointer;}
.single-slider input[type=range]::-webkit-slider-thumb:active {border-color: #056aee; cursor: pointer;}

.single-slider input[type=range]:focus {
  outline: none;
}

.single-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a2a1a1;
}


.single-slider>.glyphicon {
  font-size: 1.05em;
}

.single-slider>.glyphicon.glyphicon-minus{
  float: left;
  top: 35px;
  left: -22px;
}
.single-slider>.glyphicon.glyphicon-plus{
  float: right;
  margin-top: -30px;
  margin-right: -23px;
}




.single-slider>.glyphicon:hover {
  color: #056aee;
  cursor: pointer;
}

.single-slider>.glyphicon:active {
  color: #003D8C;
  transition: all .1s ease-out;
} 




/*Value in slider thumb*/

#static-output {
  font: bold 17px/25px sans-serif;
  color: #a2a1a1;
  position: relative;
  float: right;
  margin-right: -90px;
  margin-top: -25px;
  bottom: 9px;
  left: 13px;
  height: 25px;
  width: 54px;
  text-align: center;
  pointer-events: none;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.active { opacity: 1; }



.active #slider1::-webkit-slider-thumb:after {
  color: white;
}






/*buttons*/

.left-40 {
  margin-left: -40px;
}

.button-id {
  position: absolute;
  font-family: poppins, helvetica, sans-serif;
  font-weight: bold;
  color: #a2a1a1;
  margin-top: 11px;
  margin-left: 6px;
  display: inline-block;
}

button.midi-buttons {
  position: relative;
  outline: none;
  width: 40px;
  height: 40px;
  border: 2px solid #a2a1a1;
  border-radius: 20px;
  background: #1E1E24;
  margin-left: 40px;
  margin-bottom: 30px;
  -webkit-box-shadow: inset 0px 0px 0px 4px #1E1E24;
  transition: all .3s linear;
}

button.midi-buttons.enabled {
  background: #056aee;
}

button.midi-buttons:hover{
  transform: scale(1.15);
  /*  -webkit-box-shadow: 0px 0px 5px 0px rgba(5,106,238,1);*/
  transition: all .2s ease-out;
}

button.midi-buttons.enabled:active {
  background: #003D8C;
  transition: all .1s ease-out;
}




/*Tooltip*/
.buttons-group .tooltip.top { margin-left: 20px; margin-top: -32px;}
.tooltip.left {margin-top: 0px;}

.tooltip.top  { margin-left: 0px; margin-top: -3px;}

.tooltip.top .tooltip-inner,
.tooltip.left .tooltip-inner {
  background-color: #a2a1a1;
  color: black;
  font-size: 1.3em;
  white-space: pre-line;
  text-align: left;
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: opacity .25s linear;
}
.tooltip.top .tooltip-arrow { border-top-color:  #a2a1a1;}
.tooltip.left .tooltip-arrow { border-left-color:  #a2a1a1;}


/*led icon page group*/

a.led-icon {
  width: 46px;
  height: 46px;
  background: url("../images/led-icon-gray.svg") no-repeat 48.5% 48.5%;
  background-size: 85%;
  border-radius: 50%;
  position: relative;
  margin-left: 40px;
  margin-bottom: 30px;
  display: inline-block;
  transition: all .1s linear;
}

a.led-icon.enabled {
  width: 46px;
  height: 46px;
  background: url("../images/led-icon-blue.svg") no-repeat 48.5% 48.5%;
  background-size: 85%;
  transition: all .1s linear;
}

a.led-icon.enabled:active{
  opacity: .7;
}


.led-group .button-id {
  margin-top: 13px;
}

a.led-icon:hover{
  /*	drop-shadow: 0px 0px 30px 0px #056aee;*/
  transition: all .1s ease-out;
  background-size: 100%;
}

.led-group > .tooltip.top { margin-left: 0px; margin-top: -7px;}



/*analog icon page group*/

a.analog-icon {
  width: 46px;
  height: 46px;
  background: url("../images/analog-icon-gray.svg") no-repeat 48.5% 48.5%;
  background-size: 85%;
  border-radius: 50%;
  position: relative;
  margin-left: 40px;
  margin-bottom: 30px;
  display: inline-block;
  transition: all .1s linear;
}

a.analog-icon.enabled {
  width: 46px;
  height: 46px;
  background: url("../images/analog-icon-blue.svg") no-repeat 48.5% 48.5%;
  background-size: 85%;
  transition: all .1s linear;
}

a.analog-icon.enabled:active{
  opacity: .7;
}


.analog-group .button-id {
  margin-top: 13px;
}

a.analog-icon:hover{
  /*	drop-shadow: 0px 0px 30px 0px #056aee;*/
  transition: all .1s ease-out;
  background-size: 100%;
}

.analog-group > .tooltip.top { margin-left: 0px; margin-top: -7px;}


/*analog end*/





/*encoder icon page group*/

a.encoder-icon {
  width: 46px;
  height: 46px;
  background: url("../images/encoder-icon-gray1.svg") no-repeat 48.5% 48.5%;
  background-size: 85%;
  border-radius: 50%;
  position: relative;
  margin-left: 40px;
  margin-bottom: 30px;
  display: inline-block;
  transition: all .1s linear;
}

a.encoder-icon.enabled {
  width: 46px;
  height: 46px;
  background: url("../images/encoder-icon-blue1.svg") no-repeat 48.5% 48.5%;
  background-size: 85%;
  transition: all .1s linear;
}

a.encoder-icon.enabled:active{
  opacity: .7;
}


.encoder-group .button-id {
  margin-top: 13px;
}

a.encoder-icon:hover{
  /*	drop-shadow: 0px 0px 30px 0px #056aee;*/
  transition: all .1s ease-out;
  background-size: 100%;
}

.encoder-group > .tooltip.top { margin-left: 0px; margin-top: -7px;}


/*encoder end*/





/*Modal*/

.modal-content {
  background-color: #1E1E24;
}

.modal-backdrop
{
  opacity:0.7 !important;
}

.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #a2a1a1;
}
.modal-body {
  padding-left: 25px;
  padding-right: 25px;
}

.close {
  color: #a2a1a1; 
  opacity: 1;
  font-size: 28px;
  text-shadow: none;
}
.close:hover {
  color: #056aee;
}
.close:active, .close:focus {
  outline: none;
  color: #a2a1a1;
}

/*/Modal*/





/*Select*/

select {
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  width: 150px;
  padding: 4px 0 1px 5px;
  color: #a2a1a1;
  border: none;
  outline:0px;
  border-bottom: 1px solid #a2a1a1;
}

select:focus {
  outline: none}

select option {
  background-color: #1E1E24;
}

.selectfield select {-webkit-appearance: none}
.selectfield {
  -webkit-appearance: none;
  font-family: inherit;
  position: relative;
  margin-top: 14px;
  margin-left: -4px;
}

.selectfield {
  width: 190px;
}

.selectfield:after {
  position: absolute;
  top: 1.15em;
  right: 3em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: .375em solid #a2a1a1;
  pointer-events: none;
}

select:hover{
  cursor: pointer;
}


.sel-main.selectfield:after {
  right: 3em;
}

.selectfield.sel-main {
  width: 190px;
}


.btn.outline-btn {
  border: 1px solid #a2a1a1;
  margin-left: 15px;
  border-radius: 3px;
  color: #a2a1a1;
  font-family: poppins, helvetica, sans-serif;
  font-weight: 400;
}

.btn.outline-btn:hover {
  border: 1px solid transparent;
  margin-left: 15px;
  border-radius: 3px;
  color: #1E1E24;
  background-color: #a2a1a1;
}

.btn.outline-btn:focus,
.btn.outline-btn:active {
  opacity: .7;
}




/*Overlay loading*/
.loading-overlay:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #16161a;
}


.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -180px;
  margin-top: -56px;
}

.loading>h2 {
  font-family: orbitron, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #a2a1a1;
  padding-bottom: 5px;
}

h2.loading-h{
  margin-left: 87px;
  font-size: 1.7em;
}

.loading span {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border: 2px solid #a2a1a1;
  border-radius: 20px;
  background: #16161a;
  margin: 7px;
  -webkit-box-shadow: inset 0px 0px 0px 4px #16161a;
  -webkit-animation: loading .8s infinite alternate;
}

.loading span:nth-of-type(1) { margin-left: 71px;}

.loading span:nth-of-type(2) {
  background: #056aee;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
  background: #056aee;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
  background: #056aee;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes loading {
  0% {
    background: #056aee;
  }
  100% {
    background: #16161a;
  }
}
}
/*/Overlay loading*/





/*Responsive style*/
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (max-width: 767px){
  .switch {
    float: right;
  }
  .btn.btn-default {
    margin-top: -52px;
    margin-left: 139px;
  }
}
@media (max-width: 991px) {
  .sel-main.selectfield>.hint-mark {
    margin-right: 5px;
  }
}


