build/
.DS_Store
src/compile_commands.json
Documentation/*
*compile_commands.json
*ipch*
*Objects.mk*
*.zip
**/gen/**/usbd_audio_if.h
**/gen/**/usbd_audio_if.c
**/gen/**/usbd_audio.h
**/gen/**/usbd_audio.c
**/gen/**/usb_device.h
**/gen/**/usb_device.c
**/gen/**/usbd_desc.h
**/gen/**/usbd_desc.c
**/gen/**/usbd_conf.h
**/gen/**/cmsis_armcc.h
**/gen/**/cmsis_iccarm.h
**/gen/**/core_armv8mbl.h
**/gen/**/core_armv8mml.h
**/gen/**/core_cm0plus.h
**/gen/**/core_cm0.h
**/gen/**/core_cm1.h
**/gen/**/core_cm3.h
**/gen/**/core_cm7.h
**/gen/**/core_cm23.h
**/gen/**/core_cm33.h
**/gen/**/core_sc000.h
**/gen/**/core_sc300.h
**/gen/**/mpu_armv8.h
**/gen/**/tz_context.h
**/gen/**/stm32f*x_it.h
**/gen/**/stm32f*x_it.c
**/gen/**/.mxproject
**/gen/**/Makefile
**/gen/**/Makefile
**/gen/**/main.c
*.cortex-debug*
**/tests/gen/*
*.profraw
