build/
.DS_Store
Documentation/*
*compile_commands.json
*ipch*
*Objects.mk
*.cortex-debug*
**/tests/test_run/*
**/board/gen/*
*.profraw
**/cubemx/**/*
!**/cubemx/**/*.ioc
src/application/io/touchscreen/design/*.cpp
src/application/io/touchscreen/**/*.ico
**/.clangd/*
**/clangd/*
**/**/Backup*.cdr
*.b#*
*.s#*
