[submodule "src/Firmware/midi"]
	path = src/modules/midi
	url = https://github.com/paradajz/midi-lib.git
	branch = master
[submodule "src/Firmware/dbms"]
	path = src/modules/dbms
	url = https://github.com/paradajz/LESS-DB.git
	branch = master
[submodule "src/Firmware/sysex"]
	path = src/modules/sysex
	url = https://github.com/paradajz/sysex-conf.git
	branch = master
[submodule "src/Firmware/lufa"]
	path = src/modules/lufa
	url = https://github.com/abcminiuser/lufa.git
	branch = master
[submodule "src/modules/u8g2"]
	path = src/modules/u8g2
	url = https://github.com/olikraus/u8g2.git
	branch = master
[submodule "src/modules/i2c"]
	path = src/modules/i2c
	url = https://github.com/paradajz/i2cmaster.git
	branch = master
[submodule "src/modules/core"]
	path = src/modules/core
	url = https://github.com/paradajz/core.git
[submodule "src/modules/googletest"]
	path = src/modules/googletest
	url = https://github.com/google/googletest.git
