[submodule "src/Firmware/midi"]
	path = modules/midi
	url = https://github.com/paradajz/midi-lib.git
	branch = master
[submodule "src/Firmware/dbms"]
	path = modules/dbms
	url = https://github.com/paradajz/LESS-DB.git
	branch = master
[submodule "src/Firmware/sysex"]
	path = modules/sysex
	url = https://github.com/paradajz/sysex-conf.git
	branch = master
[submodule "src/Firmware/lufa"]
	path = modules/lufa
	url = https://github.com/abcminiuser/lufa.git
	branch = master
[submodule "src/modules/u8g2"]
	path = modules/u8g2
	url = https://github.com/olikraus/u8g2.git
	branch = master
[submodule "src/modules/core"]
	path = modules/core
	url = https://github.com/paradajz/core.git
[submodule "src/modules/unity"]
	path = modules/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "modules/EmuEEPROM"]
	path = modules/EmuEEPROM
	url = https://github.com/paradajz/EmuEEPROM.git
[submodule "modules/avr-libstdcpp"]
	path = modules/avr-libstdcpp
	url = https://github.com/modm-io/avr-libstdcpp.git
