src/.vs/*
src/Bootloader/.vs/*
src/Bootloader/Debug/*
src/Bootloader/Release*/*
src/Firmware/Debug*
src/Firmware/Release*
tools/tmp/*
tools/bin/*
tools/mingw64/*
tools/usr/*
tools/avr-objcopy.exe
tools/avrdude.conf
tools/srec_cat.exe
tools/avrdude.exe
OpenDeck.wiki/*