<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="OpenDeck" content="">
      <meta name="Shantea Controls" content="">
      <link rel="icon" href="#">

      <title>OpenDeck configurator</title>

      <!-- Bootstrap core CSS -->
      <link href="webui/css/bootstrap.min.css" rel="stylesheet">

      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <link href="webui/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link href="webui/css/style.css" rel="stylesheet">
      <link href="webui/css/navigation.css" rel="stylesheet">

      </head>
    <body ng-app="app">
      <menu></menu>
      <div class="side-body">
        <div class="col-sm-12 col-md-10 main">
          <div ng-if="!loading" ng-view></div>
          <!--<div ng-if="loading">Searching for device..</div>-->    
        </div>
      </div>

      <!--Searching-overlay-->
      <div class="loading-overlay" ng-if="loading">
        <div class="loading">
          <h2>Seaching for OpenDeck board...</h2>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div> <!--/Searching-overlay-->
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
    <script src="webui/vendor/bootstrap.min.js"></script>
    <script src="webui/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="webui/app/app.js"></script>
    <script src="webui/app/common/core.min.js"></script>
    <script src="webui/app/common/fileSaver.js"></script>
    <script src="webui/app/common/directives.js"></script>
    <script src="webui/app/common/config.js"></script>
    <script src="webui/app/common/menu/menu.js"></script>
    <script src="webui/app/common/controls/slider.js"></script>
    <script src="webui/app/common/setup/infoCtrl.js"></script>
    <script src="webui/app/common/setup/setupCtrl.js"></script>
    <script src="webui/app/midi/midiCtrl.js"></script>
    <script src="webui/app/buttons/buttonsCtrl.js"></script>
    <script src="webui/app/buttons/buttonCtrl.js"></script>
    <script src="webui/app/leds/ledsCtrl.js"></script>
    <script src="webui/app/leds/ledCtrl.js"></script>
    <script src="webui/app/encoders/encodersCtrl.js"></script>
    <script src="webui/app/encoders/encoderCtrl.js"></script>
    <script src="webui/app/analog/analogsCtrl.js"></script>
    <script src="webui/app/analog/analogCtrl.js"></script>
    <script src="webui/app/display/display.js"></script>
    </html>