#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/pinctrl/esp32s3-pinctrl.h>

/ {
    opendeck_metadata: opendeck-metadata {
        compatible = "opendeck,metadata";
        zephyr-board = "esp32s3_devkitc/esp32s3/procpu";
        board-name = "LILYGO T-ETH Elite";
    };

    opendeck_transports: opendeck-transports {
        compatible = "opendeck,transports";
        network;
        usb;
    };

    opendeck_tests: opendeck-tests {
        compatible = "opendeck,tests";
        host;
    };

    opendeck_bulk_build: opendeck-bulk-build {
        compatible = "opendeck,bulk-build";
        app;
        host-test;
        lint;
    };

    opendeck_switches: opendeck-switches {
        compatible = "opendeck,switches";
        mode = "native";
        native-gpios =
            <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpio0 42 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpio0 39 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpio0 40 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpio0 41 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
    };

    opendeck_outputs: opendeck-outputs {
        compatible = "opendeck,outputs";
        mode = "pwm";
        pwms =
            <&ledc0 0 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
            <&ledc0 1 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
            <&ledc0 2 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
    };

    opendeck_i2c: opendeck-i2c {
        compatible = "opendeck,i2c";
        bus = <&opendeck_i2c_bus>;
    };
};

&pinctrl {
    opendeck_ledc0_default: opendeck_ledc0_default {
        group1 {
            pinmux = <LEDC_CH0_GPIO8>,
                     <LEDC_CH1_GPIO6>,
                     <LEDC_CH2_GPIO7>;
            output-enable;
        };
    };
};

&ledc0 {
    pinctrl-0 = <&opendeck_ledc0_default>;
    pinctrl-names = "default";
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    channel0@0 {
        reg = <0>;
        timer = <0>;
    };

    channel1@1 {
        reg = <1>;
        timer = <0>;
    };

    channel2@2 {
        reg = <2>;
        timer = <0>;
    };
};
