opendeck_uart_din_midi: &uart0 {};

opendeck_uart_touchscreen: &uart1 {};

opendeck_i2c_display: &i2c1 {};

/ {
    opendeck_bootloader: opendeck-bootloader {
        compatible = "opendeck,bootloader";
        gpios = <&gpio0 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        label = "OpenDeck recovery";
    };

    opendeck_transports: opendeck-transports {
        compatible = "opendeck,transports";
        usb;
    };

    opendeck_traffic_indicators: opendeck-traffic-indicators {
        compatible = "opendeck,traffic-indicators";
        usb-in-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
        usb-out-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
        din-in-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
        din-out-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
    };
};
