/ {
    opendeck_metadata: opendeck-metadata {
        compatible = "opendeck,metadata";
        zephyr-board = "esp32_ethernet_kit/esp32/procpu";
        board-name = "Olimex ESP32-POE";
    };

    opendeck_transports: opendeck-transports {
        compatible = "opendeck,transports";
        network;
    };

    opendeck_bulk_build: opendeck-bulk-build {
        compatible = "opendeck,bulk-build";
        app;
    };

    opendeck_switches: opendeck-switches {
        compatible = "opendeck,switches";
        mode = "native";
        native-gpios =
            <&gpio1 2 GPIO_ACTIVE_LOW>, /* GPIO34 / on-board button */
            <&gpio0 13 GPIO_ACTIVE_LOW>, /* GPIO13 / free */
            <&gpio0 16 GPIO_ACTIVE_LOW>, /* GPIO16 / free */
            <&gpio1 4 GPIO_ACTIVE_LOW>; /* GPIO36 / free input-only */
    };

    opendeck_outputs: opendeck-outputs {
        compatible = "opendeck,outputs";
        mode = "pwm";
        pwms =
            <&ledc0 0 PWM_MSEC(1) PWM_POLARITY_NORMAL>, /* GPIO4 / free */
            <&ledc0 1 PWM_MSEC(1) PWM_POLARITY_NORMAL>, /* GPIO5 / free */
            <&ledc0 2 PWM_MSEC(1) PWM_POLARITY_NORMAL>, /* GPIO32 / free */
            <&ledc0 3 PWM_MSEC(1) PWM_POLARITY_NORMAL>; /* GPIO33 / free */
    };
};

&psram0 {
    status = "disabled";
};

/delete-node/ &phy;

&mdio {
    ref-clk-output-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;

    phy: ethernet-phy@0 {
        compatible = "ethernet-phy";
        reg = <0>;
        reset-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
        reset-assert-duration-us = <300000>;
        reset-deassertion-timeout-ms = <50>;
    };
};

&eth {
    phy-handle = <&phy>;
    ref-clk-output-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
};

&pinctrl {
    opendeck_ledc0_default: opendeck_ledc0_default {
        group1 {
            pinmux = <LEDC_CH0_GPIO4>,
                     <LEDC_CH1_GPIO5>,
                     <LEDC_CH2_GPIO32>,
                     <LEDC_CH3_GPIO33>;
            output-enable;
        };
    };
};

&ledc0 {
    pinctrl-0 = <&opendeck_ledc0_default>;
    pinctrl-names = "default";
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    channel0@0 {
        reg = <0>;
        timer = <0>;
    };

    channel1@1 {
        reg = <1>;
        timer = <0>;
    };

    channel2@2 {
        reg = <2>;
        timer = <0>;
    };

    channel3@3 {
        reg = <3>;
        timer = <0>;
    };
};
