/ {
    chosen {
        zephyr,console = &usart3;
        zephyr,shell-uart = &usart3;
    };

    opendeck_metadata: opendeck-metadata {
        compatible = "opendeck,metadata";
        zephyr-board = "nucleo_f767zi/stm32f767xx";
        board-name = "Nucleo F767ZI";
    };

    opendeck_transports: opendeck-transports {
        compatible = "opendeck,transports";
        uart = <&opendeck_uart_din_midi>;
        network;
    };

    opendeck_tests: opendeck-tests {
        compatible = "opendeck,tests";
        host;
    };

    opendeck_bulk_build: opendeck-bulk-build {
        compatible = "opendeck,bulk-build";
        app;
    };

    opendeck_switches: opendeck-switches {
        compatible = "opendeck,switches";
        mode = "native";
        native-gpios =
            <&gpioc 13 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
            <&gpiod 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiod 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiod 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiod 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiod 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiod 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioe 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioe 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioe 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioe 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioe 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioe 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioe 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioe 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioe 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiob 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiob 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioc 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioc 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioc 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiod 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiod 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiod 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiod 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioe 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioe 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioe 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioe 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioe 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpioe 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiof 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiof 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiof 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiof 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiof 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiof 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiof 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiof 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiog 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiog 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiog 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiog 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiog 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiog 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiog 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiog 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiog 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiog 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiog 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiog 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
            <&gpiog 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
    };

    opendeck_analog: opendeck-analog {
        compatible = "opendeck,analog";
        mode = "native";
        io-channels =
            <&adc1 3>,  /* A0 / PA3 */
            <&adc1 10>, /* A1 / PC0 */
            <&adc1 13>, /* A2 / PC3 */
            <&adc3 9>,  /* A3 / PF3 */
            <&adc3 15>, /* A4 / PF5 */
            <&adc3 8>,  /* A5 / PF10 */
            <&adc1 0>,  /* PA0 */
            <&adc1 4>,  /* PA4 */
            <&adc1 5>,  /* PA5 */
            <&adc1 6>,  /* PA6 */
            <&adc1 9>,  /* PB1 */
            <&adc1 12>, /* PC2 */
            <&adc3 14>, /* PF4 */
            <&adc3 4>,  /* PF6 */
            <&adc3 5>,  /* PF7 */
            <&adc3 6>,  /* PF8 */
            <&adc3 7>;  /* PF9 */
    };

    opendeck_outputs: opendeck-outputs {
        compatible = "opendeck,outputs";
        mode = "pwm";
        pwms =
            <&pwm1 1 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
            <&pwm1 2 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
            <&pwm1 3 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
            <&pwm1 4 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
            <&pwm2 3 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
            <&pwm2 4 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
            <&pwm3 2 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
            <&pwm3 3 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
            <&pwm3 4 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
            <&pwm4 1 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
            <&pwm4 2 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
            <&pwm4 3 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
            <&pwm4 4 PWM_MSEC(1) PWM_POLARITY_NORMAL>,
            <&pwm12 2 PWM_MSEC(1) PWM_POLARITY_NORMAL>;
    };

    opendeck_touchscreen: opendeck-touchscreen {
        compatible = "opendeck,touchscreen";
        component-count = <64>;
        uart = <&opendeck_uart_touchscreen>;
    };
    opendeck_i2c: opendeck-i2c {
        compatible = "opendeck,i2c";
        bus = <&opendeck_i2c_bus>;
    };
};

&usart6 {
    status = "okay";
};

&i2c1 {
    status = "okay";
};

&timers1 {
    status = "okay";
    st,prescaler = <3>;

    pwm1: pwm {
        status = "okay";
        pinctrl-0 = <&tim1_ch1_pa8 &tim1_ch2_pa9 &tim1_ch3_pa10 &tim1_ch4_pe14>;
        pinctrl-names = "default";
    };
};

&timers2 {
    status = "okay";
    st,prescaler = <3>;

    pwm2: pwm {
        status = "okay";
        pinctrl-0 = <&tim2_ch3_pb10 &tim2_ch4_pb11>;
        pinctrl-names = "default";
    };
};

&timers3 {
    status = "okay";
    st,prescaler = <3>;

    pwm3: pwm {
        status = "okay";
        pinctrl-0 = <&tim3_ch2_pb5 &tim3_ch3_pc8 &tim3_ch4_pc9>;
        pinctrl-names = "default";
    };
};

&timers4 {
    status = "okay";
    st,prescaler = <3>;

    pwm4: pwm {
        status = "okay";
        pinctrl-0 = <&tim4_ch1_pd12 &tim4_ch2_pd13 &tim4_ch3_pd14 &tim4_ch4_pd15>;
        pinctrl-names = "default";
    };
};

&timers12 {
    status = "okay";
    st,prescaler = <3>;

    pwm12: pwm {
        status = "okay";
        pinctrl-0 = <&tim12_ch2_pb15>;
        pinctrl-names = "default";
    };
};
