<div class="container modal-dialog modal-lg" ng-if="!loading">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()">&times;</button>
    <h4 class="modal-title">LED {{idx + 1}}</h4>
    </div>
<div class="modal-body">
        <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12">
            <h3>Activation ID</h3>
        </div>
        <div class="col-lg-6 col-lg-offset-1 col-md-6 col-sm-6 col-xs-11">
            <r-slider  value="obj.activationNote" min="0" max="127" tooltip="Denotes the MIDI note which controls the LED."></r-slider>
        </div>
        </div>
    <div class="row" ng-if="obj.ledControlType < 4">
        <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12">
            <h3>Activation value</h3>
        </div>
        <div class="col-lg-6 col-lg-offset-1 col-md-6 col-sm-6 col-xs-11">
            <r-slider  value="obj.singleLEDVelocityValue" min="1" max="127" tooltip="Denotes the MIDI velocity which controls the single LED."></r-slider>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12">
            <h3>MIDI Channel</h3>
            </div>
            <div class="col-lg-6 col-lg-offset-1 col-md-6 col-sm-6 col-xs-11">
                <r-slider value="obj.midiChannel" min="1" max="16" tooltip="MIDI channel for current component."></r-slider>
            </div>
        </div><!-- /row -->
        <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <h3>RGB enable</h3>
        </div>
        <div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-4 col-xs-6">
            <div class="switch">
            <input id="rgbEnable" ng-model="obj.rgbEnable" class="toggle toggle-round-flat" type="checkbox">
            <label for="rgbEnable"></label>
            <div class="hint-mark" data-toggle="tooltip" data-container="body" title="Enables or disables RGB LED mode." data-placement="left">?</div>
            </div>
        </div>
        </div><!-- /row -->
        <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h3>Control type</h3>
        </div>
        <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-6 col-xs-12">
            <div class="selectfield">
                <select ng-model="obj.ledControlType" convert-to-number>
                    <option value="0">MIDI - Note+CC</option>
                    <option value="1">Local - Note/S</option>
                    <option value="2">MIDI - CC+Note</option>
                    <option value="3">Local - CC/S</option>
                    <option value="4">MIDI - PC/S</option>
                    <option value="5">Local - PC/S</option>
                    <option value="6">MIDI - Note/S+B</option>
                    <option value="7">Local - Note/S+B</option>
                    <option value="8">MIDI - CC/S+B</option>
                    <option value="9">Local - CC/S+B</option>
                </select>
                <div class="hint-mark" data-toggle="tooltip" data-container="body" title="Specifies the way using which LED state is controlled." data-placement="left">?</div>
            </div>
        </div>
        </div><!-- /row -->
        <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <h3>Blinking</h3>
        </div>
        <div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-4 col-xs-6">
            <div class="switch">
            <input id="ledBlinkTesting" ng-model="obj.ledBlinkTesting" class="toggle toggle-round-flat" type="checkbox">
            <label for="ledBlinkTesting"></label>
            <div class="hint-mark" data-toggle="tooltip" data-container="body" title="Used to test LED blinking (temporary option)." data-placement="left">?</div>
            </div>
        </div>
        </div><!-- /row -->
        <div class="row" ng-if="obj.rgbEnable==0">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h3>State test</h3>
        </div>
        <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-6 col-xs-12"  >
            <div class="selectfield">
            <select ng-model="obj.ledColorTesting" convert-to-number>
                <option value="0">Off</option>
                <option value="1">On</option>
            </select>
            <div class="hint-mark" data-toggle="tooltip" data-container="body" title="Used to test LED state/color (temporary option)." data-placement="left">?</div>
            </div>
        </div>
        </div>
        <div class="row" ng-if="obj.rgbEnable>0">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h3>Color test</h3>
        </div>
        <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-6 col-xs-12"  >
            <div class="selectfield">
            <select ng-model="obj.ledColorTesting" convert-to-number>
                <option value="0">Off</option>
                <option value="1">Red</option>
                <option value="2">Green</option>
                <option value="3">Yellow</option>
                <option value="4">Blue</option>
                <option value="5">Magenta</option>
                <option value="6">Cyan</option>
                <option value="7">White</option>
            </select>
            <div class="hint-mark" data-toggle="tooltip" data-container="body" title="Used to test LED state/color (temporary option)." data-placement="left">?</div>
            </div>
        </div>
        </div>
    </div>
</div>


