/ {
    opendeck_retained: opendeck-retained {
    };

    gpioa: gpioa {
        compatible = "zephyr,gpio-emul";
        rising-edge;
        falling-edge;
        high-level;
        low-level;
        gpio-controller;
        #gpio-cells = <2>;
        status = "okay";
    };

    gpiob: gpiob {
        compatible = "zephyr,gpio-emul";
        rising-edge;
        falling-edge;
        high-level;
        low-level;
        gpio-controller;
        #gpio-cells = <2>;
        status = "okay";
    };

    gpioc: gpioc {
        compatible = "zephyr,gpio-emul";
        rising-edge;
        falling-edge;
        high-level;
        low-level;
        gpio-controller;
        #gpio-cells = <2>;
        status = "okay";
    };

    gpiod: gpiod {
        compatible = "zephyr,gpio-emul";
        rising-edge;
        falling-edge;
        high-level;
        low-level;
        gpio-controller;
        #gpio-cells = <2>;
        status = "okay";
    };

    gpioe: gpioe {
        compatible = "zephyr,gpio-emul";
        rising-edge;
        falling-edge;
        high-level;
        low-level;
        gpio-controller;
        #gpio-cells = <2>;
        status = "okay";
    };

    gpiof: gpiof {
        compatible = "zephyr,gpio-emul";
        rising-edge;
        falling-edge;
        high-level;
        low-level;
        gpio-controller;
        #gpio-cells = <2>;
        status = "okay";
    };

    adc1: adc1 {
        compatible = "zephyr,adc-emul";
        nchannels = <20>;
        #io-channel-cells = <1>;
        status = "okay";
    };

    adc3: adc3 {
        compatible = "zephyr,adc-emul";
        nchannels = <10>;
        #io-channel-cells = <1>;
        status = "okay";
    };

    usart6: usart6 {
        compatible = "zephyr,uart-emul";
        current-speed = <115200>;
        status = "okay";
    };

    i2c1: i2c1@600 {
        compatible = "zephyr,i2c-emul-controller";
        #address-cells = <1>;
        #size-cells = <0>;
        #forward-cells = <1>;
        clock-frequency = <100000>;
        reg = <0x600 4>;
        status = "okay";
    };

    test {
        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;

            factory_partition: partition@0 {
                reg = <0x0 0x4000>;
            };

            emueeprom_page1_partition: partition@4000 {
                reg = <0x4000 0x4000>;
            };

            emueeprom_page2_partition: partition@8000 {
                reg = <0x8000 0x4000>;
            };
        };
    };
};

&flash0 {
    partitions {
        boot_partition: partition@0 {
            compatible = "zephyr,mapped-partition";
            label = "boot";
            reg = <0x00000000 0x0000c000>;
        };

        code_partition: partition@c000 {
            compatible = "zephyr,mapped-partition";
            label = "code-partition";
            reg = <0x0000c000 0x00069000>;
        };

        dfu_storage_partition: partition@75000 {
            compatible = "zephyr,mapped-partition";
            label = "dfu-storage";
            reg = <0x00075000 0x00001000>;
        };
    };
};

opendeck_partition_boot: &boot_partition {};

opendeck_partition_app: &code_partition {};

opendeck_partition_staged_dfu: &dfu_storage_partition {};
