---
  flash:
    boot-start-page: 39
    app-start-page: 55
    app-boot-jump-offset: 4
    emueeprom:
      factory-page:
        page: 88
      page1:
        page: 104
      page2:
        page: 120
  adc:
    # Ignored for nRF52
    prescaler: 1
    # Internal oversampling used, take one sample only
    samples: 1
  usb:
    endpoints:
      size:
        control: 64
        midi-in-out: 32
      midi:
        in: 0x81
        out: 0x02
    buffers:
      midi:
        tx: 4096
        rx: 4096
  ble:
    buffers:
      midi: 128
  define-symbols:
    - "NRF_SDH_BLE_GATT_MAX_MTU_SIZE=131"
  uart:
    buffers:
      tx: 128
      rx: 128
  i2c:
    buffers:
      tx: 64
      rx: 64
