---
  flash:
    boot-start-page: 0
    app-start-page: 2
    app-boot-jump-offset: 4
    emueeprom:
      factory-page:
        page: 5
        start-offset: 0x10000
      page1:
        page: 6
      page2:
        page: 7
  adc:
    prescaler: 4
    samples: 16
  usb:
    endpoints:
      size:
        control: 64
        midi-in-out: 32
      midi:
        in: 0x81
        out: 0x02
    buffers:
      midi:
        tx: 4096
        rx: 4096
  uart:
    buffers:
      tx: 128
      rx: 128
  i2c:
    buffers:
      tx: 64
      rx: 64
