name: Docker

on:
  push:
    paths:
      - '.devcontainer/Dockerfile'

jobs:
  update_docker:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Push to docker hub
        uses: docker/build-push-action@v2
        with:
          context: .devcontainer
          push: true
          tags: paradajz168/opendeck-dev:latest